td{text-align:left}.field{text-align:right;padding-right:10px}.fieldheader{text-align:left;padding-right:10px;font-weight:bold}.form-error{width:468px;margin:18px auto;padding:16px;background-color:#ffd9d9;color:maroon;border:2px solid maroon}